<div id="landing">
  <div>
    <h1>Welcome to</h1>
    <img src="<%= image_path('logo.png') %>" alt="" />
    <h3>Create albums based on Instagram tags</h3>
    <a href="https://api.instagram.com/oauth/authorize/?client_id=2d4b160efb7248e983383029b9e904e8&redirect_uri=http://localhost:3000/users/auth/instagram/callback&response_type=code">Sign In with Instagram</a>
  </div>
</div>
