body, html {
  height: 100%;
  background: #E9EAED;
}

body > nav.navbar.navbar-default {
  margin-bottom: 0px;
  background-color: #47639E;
  border: none;
  border-radius: 0px;
}

#bs-example-navbar-collapse-1 > ul > li > a {
  color: white;
}

#logo {
  height: 50px;
}

.sign-out {
  margin-top: 8px;
}

.page-title {
  margin: 0;
  padding: 20px;
  font-family: monospace;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

#landing {
  background-image: image-url("landing");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#landing > div {
  margin: auto;
  text-align: center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 40%;
  width: 60%;
}

#landing > div > h1 {
  font-family:cursive;
  font-weight: bolder;
  color: #F3E2E2;
  margin-bottom: 20px;
  font-size: 50px;
}

#landing > div > h3 {
  font-size: 20px;
  font-family: monospace;
  color: lightblue;
  margin-bottom: 20px;
}

#landing > div > a {
  width: 50%;
  display: block;
  margin: 0 auto;
  font-family: monospace;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  color: white;
  height: 50px;
  background: green;
}

#content {
  background: #E9EAED;
  height: 100%;
}

.album {
  list-style-type: none;
  display: inline-block;
}

.album > li {
  background: white;
  width: 300px;
  height: 480px;
  padding: 5px;
  margin: 5px;
  border: 1px;
  border-color: grey;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
}

.medium {
  // width: 200px;
  // height: 350px;
  // padding: 5px;
}

.medium > h4 {
  display: inline;
  font-size: 15px;
  font-weight: 600;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.medium-frame {
  width: 290px;;
  height: 300px;
  object-fit:cover;
}

.medium > p {
  margin-top: 20px;
  font-size: 14px;
}

.album-collection {
  list-style-type: none;
  text-align: center;
}

.album-collection > li {
  background: #45619D;
  height: 100px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 5px;
  border-radius: 10px;
  border: grey;
  overflow: hidden;
  display: inline-block;
}

.album-collection > li > button {
  float: right;
  height: 60px;
}

.album-name {
  color: white;
  display: inline;
  float: left;
  font-size: 20px;
  width: 180px;
  height: 60px;
}

.new-album {
  height: 400px;
  width: 600px;
  background: white;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  top: 40px;
  padding: 40px;
}

.new-album input {
  border-radius: 5px;
}

#input-name {
  display: block;
  height: 40px;
  width: 500px;
}

#input-tag {
  display: block;
  height: 40px;
  width: 500px;
}

#input-start-date {
  display: block;
  margin-right: 20px;
  height: 40px;
  width: 240px;
}

#input-end-date {
  display: block;
  height: 40px;
  width: 240px;
}

.new-album > button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 220px;
}
