<h1>Create a new Album</h1>

<label for="name">Name: </label>
<input type="text"
       name="name"
       id="input-name"
       placeholder="Name">

<label for="tag">Tag: </label>
<input type="text"
       name="tag"
       id="input-tag"
       placeholder="Tag">

<table>
  <tr>
    <td>
      <label for="start">From: </label>
      <input type="date"
             name="start"
             id="input-start-date">
    </td>

    <td>
      <label for="finish">To: </label>
      <input type="date"
             name="finish"
             id="input-end-date">      
    </td>

  </tr>
</table>



<button class="btn btn-default" type="button">Create Album</button>
