<h1>Create a new Album</h1>

<input type="text"
       name="name"
       value="Name">

<input type="text"
       name="tag"
       id="tag-input"
       value="Tag">

<input type="date"
       name="start"
       id="start-date">

<input type="date"
       name="finish"
       id="end-date">

<button type="button">Create Album</button>
